:root {
	--syntax-variable: rgb(74, 185, 254);
	--syntax-heapobj: rgb(227, 151, 240);
	--syntax-punctuation: rgb(227, 151, 240);
	--syntax-keyword: rgb(15, 71, 176);
	--syntax-number: rgb(172, 230, 139);
	--syntax-error: 255, 0, 0;
	--current-expression: rgba(255, 255, 0, 0.35);
	--value: rgb(102, 102, 102);
}

.dark {
	--syntax-variable: rgb(74, 185, 254);
	--syntax-heapobj: rgb(227, 151, 240);
	--syntax-punctuation: rgb(227, 151, 240);
	--syntax-keyword: rgb(15, 71, 176);
	--syntax-number: rgb(172, 230, 139);
}

.tok-variableName {
	color: var(--syntax-variable);
}
.tok-typeName {
	color: var(--syntax-heapobj);
}
.tok-punctuation {
	color: var(--syntax-punctuation);
}
.tok-keyword {
	color: var(--syntax-keyword);
}
.tok-number {
	color: var(--syntax-number);
}
.syntax-error {
	border: 1px solid rgba(var(--syntax-error), 60%);
	background-color: rgba(var(--syntax-error), 25%);
}
.current-expression {
	background-color: var(--current-expression);
	@apply px-1 py-0.5
}
.with-value::after {
	content: attr(data-value);
	@apply p-0.5 underline ml-1 text-muted-foreground;
}
/* prevent main from displaying twice */
.with-value .with-value::after {
	display: none;
}
