---
import Layout from "@/layouts/Layout.astro";
import { fib_prg } from "@/stglang/test";
import Program from "@/layouts/Program.astro";
---

<Layout title="Fib zipwith.">
	<main class="h-full">
		<Program
			steps={1000}
			prog={fib_prg}
			title="Fibonacci using zipwith"
			garbage_collection
		/>
	</main>
</Layout>
