---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import { map, sum } from "../stglang/test";
---

<Layout title="Test page.">
	<main>
		<h1>Testing page</h1>
		<pre><code>{map}</code></pre>
		<pre><code>{sum}</code></pre>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	pre {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
</style>
