---
import Layout from "@/layouts/Layout.astro";
import { map, sum, fib } from "@/stglang/test";
---

<Layout title="Test page.">
	<main class="m-auto p-4 w-fit max-w-[calc(100%-2rem)] text-primary text-xl">
		<h1>Testing page</h1>
		<pre><code>{map}</code></pre>
		<pre><code>{sum}</code></pre>
		<pre><code>{fib}</code></pre>
	</main>
</Layout>

<style>
	pre {
		@apply rounded p-3 m-2;
	}
</style>
