---
import Layout from "@/layouts/Layout.astro";
import Machine from "@/components/Machine.tsx";
---

<Layout title="Test page.">
	<main class="absolute inset-0">
		<Machine client:load />
	</main>
</Layout>
