---
import Layout from "@/layouts/Layout.astro";
import { map_pap_prg } from "@/stglang/test";
import Program from "@/layouts/Program.astro";
---

<Layout title="Map test.">
	<main class="h-full">
		<Program
			steps={300}
			prog={map_pap_prg}
			title="Map and partial application"
		/>
	</main>
</Layout>
