---
import Layout from "@/layouts/Layout.astro";
import { sum_prg } from "@/stglang/test";
import Program from "@/layouts/Program.astro";
---

<Layout title="List sum test.">
	<main>
		<Program steps={100} prog={sum_prg} title="Sum test" eval_apply />
	</main>
</Layout>
