---
import "@/styles/global.css";
interface Props {
	title: string;
}

const { title } = Astro.props;
import { ModeToggle } from "@/components/ui/ModeToggle";
import { Button } from "@/components/ui/button";
import Icon from "@/components/Icons";
import Config from "astro.config.mjs";
const base = Config.base || "";
---

<!doctype html>
<html lang="en" class="dark">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<!-- bottom-0 ensures good behaviour with shadcn drawer -->
	<body class="grid grid-rows-[max-content_minmax(0,1fr)] bottom-0">
		<header class="bg-secondary flex justify-between px-6 py-2 row-span-1">
			<div class="flex items-center gap-2 md:gap-8">
				<a href={base+"/"} class="text-3xl"><span>Web</span><span class="font-bold">STG</span></a>
				<a href={base+"/docs/"} class="text-muted-foreground"><span>Docs</span></a>
			</div>
			<div class="flex gap-1">
				<Button variant="outline" size="icon">
					<a href="https://github.com/MrTipson/webstg">
						<Icon variant="github" />
					</a>
				</Button>
				<ModeToggle client:load />
			</div>
		</header>
		<div class="relative min-w-0">
			<slot />
		</div>
	</body>
</html>
