---
import "@/styles/global.css";
interface Props {
	title: string;
}

const { title } = Astro.props;
import { ModeToggle } from "@/components/ui/ModeToggle";
---

<!doctype html>
<html lang="en" class="dark">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="grid grid-rows-[max-content_minmax(0,1fr)]">
		<header class="bg-secondary flex justify-between px-6 py-2 row-span-1">
			<div>
				<span class="font-bold text-3xl">WebSTG</span>
			</div>
			<div></div>
			<ModeToggle client:load />
		</header>
		<main class="relative grow">
			<slot />
		</main>
	</body>
</html>
